<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">



<div class="jumbotron">

        <h2>Encuesta de preinscripción</h2>
    <p>Este formulario busca relevar la intención de inscripción para la carrera LIDS en el 2do semestre de 2016, como paso previo a la inscripción y con miras a poder organizar el proceso de inscripción de manera mucho más ordenada. Este relevamiento NO ES VINCULANTE, lo cual quiere decir que NO SE GARANTIZA que cursen en lo que anotan aquí (aunque existe una probabilidad alta de que así sea, si eligen según las recomendaciones usuales... Normalmente ante dos personas que quieren inscribirse en una materia, y si hay problemas de cupo, se le da prioridad a la que pidió esa materia en la encuesta).
    </p>
</div>




    <button class="btn btn-primary" (click)="getSubjects()" >Completar la encuesta</button>

    <div>
        <h4>

            Materias:
        </h4>

        <div  class="container">
            <p style="width: 300px"><strong>The GET result</strong> : {{mySubjects}}</p>


        </div>


    </div>




</div>






</body>
</html>